
<div class='dashboard'>
    <app-navbar-left></app-navbar-left>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card mt-1'>
                    <div class='card-header'>
                        <h1>Completez votre profil <small style="font-size: 16px;">({{userData.userType}})</small></h1>
                    </div>
                    <div class='card-body'>
                        <div class="container">
                            <form (ngSubmit)="updateUserProfile()">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="first">Nom</label>
                                    <input [(ngModel)]="userData.name" name="name" type="text" class="form-control" placeholder="" id="first">
                                  </div>
                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="last">Prenom</label>
                                    <input [(ngModel)]="userData.surname" name="surname" type="text" class="form-control" placeholder="" id="last">
                                  </div>
                                </div>
                                <!--  col-md-6   -->
                              </div>


                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="company">Pseudo</label>
                                    <input [(ngModel)]="userData.txt" name="txt" type="text" class="form-control" placeholder="" id="company">
                                  </div>


                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="mot_de_passe">Mot de passe</label>
                                      <input [(ngModel)]="userData.pswd" name="pswd" type="password" class="form-control" id="mot_de_passe">
                                  </div>
                              </div>
                                <!--  col-md-6   -->
                              </div>
                              <!--  row   -->


                              <div class="row">
                                <div class="col-md-6">

                                  <div class="form-group">
                                    <label for="email">Adresse mail</label>
                                    <input [(ngModel)]="userData.email" name="email" type="email" class="form-control" id="email" placeholder="">
                                  </div>
                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="phone">Numero téléphone</label>
                                    <input [(ngModel)]="userData.phone" name="phone" type="tel" class="form-control" id="phone" placeholder="">
                                  </div>

                                </div>
                                <!--  col-md-6   -->
                              </div>
                              <!--  row   -->

                              <button type="submit" class="btn btn-primary mt-2">Enregistrer</button>
                            </form>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>