
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #f0f0f0;">
  <div class="card" style="width: 300px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
      <h2 class="card-title text-center mb-4" style="font-family: sans-serif; color: #333;">Connect to Garage-App</h2>

      <form class="login-form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="text" id="username" name="username" placeholder="username" [(ngModel)]="username" required class="form-control">
        </div>
        <div class="mb-3">
          <input type="password" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="password" required class="form-control">
        </div>
        <div class="d-grid gap-2 mb-3">
          <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">Login</button>
        </div>
        <p class="text-danger text-center mb-3" *ngIf="loginError">{{ loginError }}</p>
        <div class="text-center mb-3" style="color: #777;">ou</div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;" routerLink="/register">Create a new account</button>
        </div>
      </form>
    </div>
  </div>
</div>
