<div class='dashboard'>
    <app-navbar-left></app-navbar-left>
    <div class='dashboard-app' id="dashboard-app">
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card mt-1'>
                    <div class='card-header'>
                        <h1>Liste des taches</h1>
                    </div>
                    <div class='card-body'>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 25%;" scope="col">Créer</th>
                                    <th style="width: 25%;" scope="col">En attente</th>
                                    <th style="width: 25%;" scope="col">En cours</th>
                                    <th style="width: 25%;" scope="col">Términer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="vertical-align: middle;">
                                    <th >
                                      <div class="ticket-card cursor-pointer position-relative" *ngFor="let task of tasks">
                                        <div class="position-absolute" style="top: 10px; right: 10px;">
                                          <button class="btn btn-link text-dark" type="button" (click)="toggleDropdown()">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </button>
                                          <ul class="dropdown-menu" [class.show]="isDropdownOpen">
                                            <li><a class="dropdown-item" href="#">En attente</a></li>
                                            <li><a class="dropdown-item" href="#">En cours</a></li>
                                            <li><a class="dropdown-item" href="#">Términer</a></li>
                                          </ul>
                                        </div>
                                        <p><strong>Vehicule: {{ task.apointment.car?.name }}</strong></p>
                                        <p class="text-muted">Description: {{ task.apointment.description }}</p>
                                        <p class="text-muted">Client: {{ task.apointment.belongsTo?.name }}</p>
                                        <p class="text-muted">Date: {{ task.apointment.date }}</p>
                                      </div>
                                    </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="d-flex justify-content-between align-items-center mt-3">
                            <span>Affichage de {{ getStartIndex() + 1 }} - {{ getEndIndex() }} sur {{ items.length }}</span>
                            <nav>
                              <ul class="pagination">
                                <li class="page-item" [class.disabled]="currentPage === 1">
                                  <a class="page-link" (click)="previousPage()" aria-label="Précédent">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li *ngFor="let page of totalPages; let i = index" class="page-item" [class.active]="currentPage === i + 1">
                                  <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
                                </li>
                                <li class="page-item" [class.disabled]="currentPage === totalPages.length">
                                  <a class="page-link" (click)="nextPage()" aria-label="Suivant">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                          </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>