

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar-container">
  <span class="fs-5 fw-semibold text-dark me-3">
    Welcome {{ clientName }}
  </span>
  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item"  >
          <a routerLink="/client-dashboard" href="#" class="nav-link " [ngClass]="{'active': activeRoute === 'your-car'}"   aria-current="page">
            <i class="bi bi-car-front-fill me-2"></i>
            Your Car
          </a>
      </li>

      <li class="nav-item" >
          <a routerLink="/appointment" href="#" class="nav-link" [ngClass]="{'active': activeRoute === 'appointment'}" aria-current="page">
            <i class="bi bi-calendar-fill me-2"></i>
            Appointment
          </a>
      </li>
      <li>
        <a routerLink="/payement" href="#" class="nav-link" [ngClass]="{'active': activeRoute === 'payement'}" aria-current="page">
          <i class="bi bi-cash-coin me-2"></i>
            Payment
        </a>
      </li>
      <li>
          <a href="#" class="nav-link">
              <i class="bi bi-person-circle me-2"></i>
              Profile
          </a>
      </li>

  </ul>
  <hr>
</div>
