
<app-navbar-client></app-navbar-client>

<div style="min-height: 100vh;">
  <div class="row h-100">
    <div class="col-md-3 h-100">
      <app-sidebar-client></app-sidebar-client>
    </div>

    <div class="col-md-9">
      <div class="container mt-4">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h2>Payment List</h2>
          </div>
        </div>

        <table class="table mt-4">
          <thead>
            <tr>
              <th>Vehicle</th>
              <th>Description</th>
              <th>Total paid</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
