
<app-navbar-client></app-navbar-client>

<div style="min-height: 100vh;">
  <div class="row h-100">
      <div class="col-md-3 h-100">
          <app-sidebar-client></app-sidebar-client>
      </div>
      <div class="col-md-9">
        <div class="container mt-4">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Appointment</h2>
            </div>
            <div class="d-flex align-items-center">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary me-2" type="submit">
                  <i class="bi bi-search"></i>
              </button>
            </div>
          </div>

          <form  (ngSubmit)="addAppointment()">
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newAppointment.description" >
            </div>
            <div class="mb-3">
              <label for="vehicle" class="form-label">Vehicle</label>
              <input type="text" class="form-control" id="vehicle" name="vehicle" [(ngModel)]="newAppointment.vehicle" >
            </div>
            <button type="submit" class="btn btn-primary">Add Appointment</button>
          </form>
        </div>

        <table class="table mt-4">
          <thead>
            <tr>
              <th>Vehicle</th>
              <th>Description</th>
              <th>Status</th>
              <th>Mechanicien</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
              <td>{{ appointment.vehicle }}</td>
              <td>{{ appointment.description }}</td>
              <td>{{ appointment.status }}</td>
              <td>{{ appointment.mechanicien }}</td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
</div>
