<div class="dashboard">
  <app-navbar-left></app-navbar-left>
  <div class="dashboard-app" id="dashboard-app">
    <div class="dashboard-content">
      <div class="container">
        <div class="card mt-1">
          <div class="card-header">
            <h1>Liste des vehicule</h1>
          </div>
          <div class="card-body">
            <main class="page-content">
              <div *ngFor="let vehicule of vehiculeData">
                <div
                  class="d_card"
                  [ngStyle]="{
                    'background-image':
                      'url(http://localhost:3000/vehicle/' +
                      vehicule.image +
                      ')',
                    'background-size': 'cover',
                    'background-position': 'center',
                    'background-repeat': 'no-repeat',
                  }"
                >
                  <!--
                  style="
                    "background-image: url(http://localhost:3000/vehicule/fa51c75f-c469-40cf-a41a-1d619ea9ce47-1742799198790.jpg)
                -->

                  <div class="content">
                    <h2 class="heading">{{ vehicule.name }}</h2>
                    <p class="data-content">
                      {{ vehicule.description }}
                    </p>
                    <div class="d-flex gap-2 mt-3">
                      <button
                        data-bs-toggle="modal"
                        data-bs-target="#modifierVehicule"
                        class="btn btn-primary text-uppercase"
                        (click)="selectVehicule(vehicule)"
                      >
                        modifier
                      </button>
                      <button
                        data-bs-toggle="modal"
                        data-bs-target="#reparerVehicule"
                        class="btn btn-success text-uppercase"
                        (click)="selectVehiculeForRepair(vehicule)"
                      >
                        réparer
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="d_card"
                data-bs-toggle="modal"
                data-bs-target="#ajouterVehicule"
                style="
                  background-image: url(&quot;../../../assets/images/add-voiture.jpg&quot;);
                  background-size: 100%;
                  background-repeat: no-repeat;
                "
              >
                <div class="content">
                  <h2 class="heading">AJOUTER UNE NOUVELLE VOITURE</h2>
                  <!-- <p class="data-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                </div>
              </div>
              <div
                class="modal fade"
                id="ajouterVehicule"
                tabindex="-1"
                aria-labelledby="ajouterVehicule"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="container p-4">
                      <div class="text-muted mb-1">
                        <h1>Nouvel vehicule</h1>
                      </div>
                      <form
                        (ngSubmit)="onSubmit()"
                        enctype="multipart/form-data"
                      >
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="first">Nom du vehicule</label>
                              <input
                                type="text"
                                name="name"
                                class="form-control"
                                placeholder=""
                                id="first"
                                required=""
                                [(ngModel)]="userData.name"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="first">Description</label>
                              <textarea
                                type="text"
                                name="description"
                                class="form-control"
                                placeholder=""
                                id="first"
                                rows="3"
                                required=""
                                [(ngModel)]="userData.description"
                              ></textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="first">Image du vehicule</label>
                              <input
                                (change)="onFileChange($event)"
                                type="file"
                                accept="image/*"
                                name="image"
                                class="form-control"
                                placeholder=""
                                id="first"
                                required=""
                              />
                            </div>
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">
                          Enregistrer
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="modal fade"
                id="modifierVehicule"
                tabindex="-1"
                aria-labelledby="modifierVehicule"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="container p-4">
                      <div class="text-muted mb-1">
                        <h1>Modifier vehicule</h1>
                      </div>
                      <form
                        (ngSubmit)="updateVehicule()"
                        enctype="multipart/form-data"
                      >
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="first">Nom du vehicule</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                id="vehiculeName"
                                [(ngModel)]="selectedVehicule.name"
                                name="name"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="first">Description</label>
                              <textarea
                                type="text"
                                class="form-control"
                                placeholder=""
                                id="vehiculeDescription"
                                rows="3"
                                [(ngModel)]="selectedVehicule.description"
                                name="description"
                                required=""
                              ></textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="first">Image du vehicule</label>
                              <input
                                (change)="onFileChangeUpdate($event)"
                                type="file"
                                accept="image/*"
                                name="image"
                                class="form-control"
                                placeholder=""
                                id="first"
                                required=""
                              />
                            </div>
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">
                          Enregistrer
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary mt-2"
                          data-bs-dismiss="modal"
                        >
                          Annuler
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="modal fade"
                id="reparerVehicule"
                tabindex="-1"
                aria-labelledby="reparerVehicule"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="container p-4">
                      <div class="text-muted mb-1">
                        <h1>Réparer vehicule</h1>
                      </div>
                      <form (ngSubmit)="addAppointment()">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="repairDate">Date de réparation</label>
                              <input
                                type="date"
                                class="form-control"
                                placeholder=""
                                id="repairDate"
                                [(ngModel)]="appointmentData.date"
                                name="repairDate"
                                required=""
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="problemDescription"
                                >Description du problème</label
                              >
                              <textarea
                                type="text"
                                class="form-control"
                                placeholder=""
                                id="problemDescription"
                                rows="3"
                                name="problemDescription"
                                [(ngModel)]="appointmentData.description"
                                required=""
                              ></textarea>
                            </div>
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">
                          Réparer
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
