<div class='dashboard'>
  <app-navbar-left></app-navbar-left>
  <div class='dashboard-app' id="dashboard-app">
    <div class='dashboard-content'>
      <div class='container'>
        <div class='card mt-1'>
          <div class='card-header'>
            <h1>Liste des mécaniciens</h1>
          </div>
          <div class='card-body'>
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mecanicien of mecaniciens" style="vertical-align: middle;">
                  <th scope="row">{{mecanicien.name}}</th>
                  <td>{{mecanicien.surname}}</td>
                  <td>{{mecanicien.txt}}</td>
                  <td>{{mecanicien.email}}</td>
                  <td>{{mecanicien.phone}}</td><td style="width: 200px;text-align: center;">
                  <button
                    class="btn btn-danger btn-sm me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#desactiverCompte"
                    (click)="desactiverMecanicien(mecanicien)"
                    [disabled]="mecanicien.status === 'Désactivé'">
                    <i class="fas fa-user-slash"></i> Désactiver compte
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between align-items-center mt-3">
              <!-- <span>Affichage de 5 - 5 sur 5</span> -->
              <nav>
                <ul class="pagination cursor-pointer">
                  <li class="page-item">
                    <a class="page-link" aria-label="Précédent">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" aria-label="Suivant">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>